// * =================
// * Base Styles
// * ==================== */

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: $color-greyish;
  font-size: $base-font-size;
  font-family: $base-font-family;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: $default-header;
  color: $color-dark;
  font-weight: 700;
}

img {
  display: block;
  width: 100%;
}

a {
  color: $color-light;
  border: 0;
  font-weight: 400;
  text-decoration: none;
}