// ELEMENTS Blocks

.btn {
  border:1px solid $color-light;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.btn--white {
  background-color: $color-light;
}

// HERO ====
.hero-container {
  background-color: $color-primary;
  position: relative;
  
  .hero-section {
    padding: 0; // 104px
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    
    @media (min-width: $tablet) {
      // padding: 6.5rem 0 0; // 104px
      max-width: $pageWidth;
      margin: 0 auto;
      display: grid;
      padding: 0 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3.5rem;
      transform: translateY(130px);
    }
    
    &__title {
      color: $color-light;
      font-size: 3.5rem;
      line-height: 1;

      @media (min-width: $tablet) {
        font-size: 3.8rem;
        max-width: 430px;
        text-align: left;
      }
    }

    &__content {
      z-index: 1;
      font-size: 1rem;
      color: $color-light;
      padding: 1.5rem 1.5rem 9rem;

      @media (min-width: $tablet) {
        padding: 0;
        text-align: left;

        &:before {
          content: "";
          left: 0;
          width: 9rem;
          height: 1px;
          position: absolute;
          background: $color-light;
        }
      }

      
    }


    &__image {
      
    }

    &__text {
      padding-bottom: 2rem;   
    }

  }

  &__bg-img-left {
    position: absolute;
    top: 53%;
    left: 0;
    
    @media (min-width: $phablet) {
      top: 70%;
      left: -40px;
      transform: scale(.8);
    }

    @media (min-width: $tablet) {
      top: 50%;
    }

    @media (min-width: $largeScreens) {
      top: 70%;
      left: 0;
      transform: scale(1);
    }
  }

  &__bg-img-right {
    position: absolute;
    bottom: -10%;
    right: 0;
    
    @media (min-width: $phablet) {
    bottom: -3.5%;
    right: -10%;
    transform: scale(.6);
    }

    @media (min-width: $tablet) {
      top: 0%;
      right: -15%;
      transform: scale(1);
    }

    @media (min-width: $largeScreens) {
      top: 0;
      right: -3%;
    }
  }
}


// MAIN SECTION

main {
  max-width: $pageWidth;
  margin: 0 auto;
  text-align: center;
  position: relative;

  @media (min-width: $tablet) {
    padding: 0 1rem;
    margin: 15% auto 0;
  }

  .line {
    position: absolute;
    top: 0;
    width: 20%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    
    @media (min-width: $tablet) {
      left: 0;
      transform: translateX(0);
      margin: 0;
    }

    
  }
  .services-title {
    @media (min-width: $tablet) {
    text-align: left;
    padding: 2rem 0 0;
    }
  }

  h2 {
    font-size: 3rem;
  }
  .services {
    // border:1px solid red;
    font-size: 1rem;

    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
    }

    &__section {
      //padding: 2rem 2rem 0;
      
      @media (min-width: $tablet) {
        text-align: left;
      }

      h3 {
        font-size: 2rem;

        @media (min-width: $tablet) {
          text-align: left;
        }
      }

      p {
        @media (min-width: $tablet) {
          text-align: left;
        }
      }
    }

    &__icon {
      width: 100px;
      margin: 0 auto;
      
      @media (min-width: $tablet) {
        margin: 0;
      }
    }
  }


  // FIND OUT MORE BOX ===
  .find-out-more {
    background-color: $color-primary;
    height: auto;
    padding: 3rem 0;
    width: 80%;
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    

    @media (min-width: $tablet) {
      padding: 2rem;
      justify-content: flex-start;
      flex-direction: row;
      height: auto;
      width: 100%;
      max-width: $pageWidth;
      margin: 6rem auto 10rem;
    }

    &__bg-img {
      position: absolute;
      top: 0;
      width: 100%;
      height: auto;
      transform: translateX(35%);

      img {
        width: 65%;

        @media (min-width: $phablet) {
          width: 100%; 
        }
      }

      @media (min-width: $phablet) {
        transform: scale(1);
        transform: translateX(300px);

      }

      @media (min-width: $tablet) {
        width: 40%;
        right: 0;
      }
  
    }  

    &__content {
      margin: 0 auto;
      padding: 1rem;
      z-index: 1;

      @media (min-width: $tablet) {
        display: flex;
        margin: 0;
        padding: 2rem;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        
      }
    }

    

    &__title {
      margin: 0 0 3rem;
      font-size: 2rem;
      color: $color-light;

      @media (min-width: $tablet) {
         height: 100%;
         margin: 0;
         max-width: 400px;
         text-align: left;
         font-size: 2.7rem;
      }
    }
  }
}


