// Colours 

$color-primary: #2d2640; // Dark Violet
$color-greyish: #8E8C8F;
$color-greyish-blue: #95a9c6; //Grayish Blue
$color-dark-grayish-violet: #837d87;
$color-light: #fafafa; // very-light-gray
$color-dark: #2b272f; //Very Dark Violet


 
//Breakpoints
$phablet: 720px;
$tablet: 1024px;
$largeScreens: 1200px;
$extraLargeScreens: 1500px; 


// Default Page Width
$pageWidth: 1111px;


// FONT STYLES =====
$default-header: 'DM Serif Display', serif;
$base-font-family: 'Karla', sans-serif;
$base-font-size: 62.5%; // this defines what  is.


